USE [master]
GO
/****** Object:  Database [SuperZapato]    Script Date: 16/04/2020 18:46:55 ******/
CREATE DATABASE [SuperZapato]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperZapato', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MS2014\MSSQL\DATA\SuperZapato.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SuperZapato_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MS2014\MSSQL\DATA\SuperZapato_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperZapato].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperZapato]
GO
/****** Object:  User [superzapato]    Script Date: 16/04/2020 18:46:56 ******/
CREATE USER [superzapato] FOR LOGIN [superzapato] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [superzapato]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 16/04/2020 18:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Store_Id] [int] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Description] [varchar](250) NULL,
	[Price] [decimal](18, 2) NULL,
	[Total_In_Shelf] [int] NULL,
	[Total_In_Vault] [int] NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 16/04/2020 18:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Address] [varchar](250) NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Stores] FOREIGN KEY([Store_Id])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Stores]
GO
USE [master]
GO
